.hidden {
  display: none;
}

.custom-popup {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.popover {
  width: 70vw;
  height: 70vh;
}

.popover-arrow {
  display: none;
}
